{% extends 'base.html' %}
{%load static%}

{%block content%}
                <div class="form-container" style="margin-left: 100px;">
                    <div class="form-header">
                      <h2>Solicitudes</h2>
                    </div>
                    <form action="#" method="POST">
                      {% csrf_token %}
                      
                      <!-- Select para Cliente -->
                      <div class="form-group">
                        <label for="cliente">Cliente</label>
                        <select id="cliente" name="cliente" required>
                          <option value="" disabled selected>Por favor seleccione una opción</option>
                            {% if clientes %}
                                {% for cliente in clientes %}
                                    <option value="{{ cliente.id }}">{{ cliente.nombre }}</option>
                                {% endfor %}
                            {% else %}
                                <p>No hay clientes disponibles.</p>
                            {% endif %}
                        </select>
                      </div>
                
                      <!-- Select para Productos -->
                      <div class="form-group">
                        <label for="productos">Productos</label>
                        <select id="productos" name="productos" required multiple>
                            <option value="" disabled selected>Por favor seleccione productos</option>
                            {% for producto in productos_lista %}
                                <option value="{{ producto.id }}">{{ producto.nombreProducto }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                
                      <!-- Select para Vendedor -->
                      <div class="form-group">
                        <label for="vendedor">Vendedor</label>
                        <select id="vendedor" name="vendedor" required>
                            <option value="" disabled selected>Por favor seleccione un vendedor</option>
                            {% for vendedor in vendedores %}
                                <option value="{{ vendedor.id }}">{{ vendedor.user.username }}</option>
                            {% endfor %}
                        </select>
                        
                      </div>
                
                      <!-- Otros campos del formulario -->
                      <div class="form-actions">
                        <button type="submit" class="btn btn-submit">Enviar</button>
                        <button type="reset" class="btn btn-cancel">Cancelar</button>
                      </div>
                    </form>
                </div>
                
{%endblock%}
                
<!-- End of Footer -->
