{% extends 'base.html' %}
{%block content%}

{% load static %}
<div class="container-fluid">
                   
    <div class="container">
    
    
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Productos</th>
                    <th>Total</th>
                    <th>Vendedor</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for soli in solicitudes %}
                    <tr>
                        <td>{{ soli.idSolicitud }}</td>
                        <td>{{ soli.cliente.nombre }}</td>
                        <td>{{ soli.fechaSolicitud|date:"Y-m-d H:i" }}</td>
                        <td>
                            <ul>
                                {% for detalle in soli.detallesolicitud_set.all %}
                                    <li>{{ detalle.producto.nombreProducto }} (x{{ detalle.cantidad }})</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>${{ soli.calcular_total }}</td>
                        <td>{{ soli.vendedor.user.username }}</td>
                        <td>
                            <a href="{% url 'generar_pdf' soli.idSolicitud %}">PDF</a> |
                            <a href="{% url 'borrar_solicitud' soli.idSolicitud %}">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        
    </main>

    <script>
        function deleteAlert() {
          const confirmation = confirm("¿Estás seguro de que deseas eliminar este usuario?");
          if (confirmation) {
            alert("Usuario eliminado correctamente."); 
            // Aquí puedes agregar lógica adicional, como eliminar el registro vía backend.
          }
        }
    </script>                      

</div>
<!-- /.container-fluid -->
</div>

{%endblock%}