
{% extends 'base.html' %}

{%block content%}
                <!-- Begin Page Content -->
                <div class="container-fluid">
                   
                    <div class="container">
                    
                    
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre usuario</th>
                                    <th>Email</th>
                                    <th>Editar</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in usuario %}
                                    <tr>
                                        <td>{{ user.id }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.email }}</td>
                                        <td><a href="#">Editar</a></td>
                                        <td><a href="#">Eliminar</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </main>

                    <script>
                        function deleteAlert() {
                          const confirmation = confirm("¿Estás seguro de que deseas eliminar este usuario?");
                          if (confirmation) {
                            alert("Usuario eliminado correctamente."); 
                            // Aquí puedes agregar lógica adicional, como eliminar el registro vía backend.
                          }
                        }
                    </script>                      

                </div>
                <!-- /.container-fluid -->
            </div>
{%endblock%}