{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Usuario</title>
    <link rel="stylesheet" href="{% static 'css/gestion_estilo.css' %}">
</head>
<body>
    <div class="back-container">
        <a href="{% url 'admin_dashboard' %}" class="back-btn">Volver</a>
    </div>

    <div class="container">
        <h1>Gestión de Usuario</h1>

        <div class="user-row">
            <span>USUARIO 1</span>
            <a href="{% url 'modifyuser' %}" class="modify-btn">MODIFICAR</a>
            <button class="delete-btn">ELIMINAR</button>
        </div>
        <div class="user-row">
            <span>USUARIO 2</span>
            <a href="{% url 'modifyuser' %}" class="modify-btn">MODIFICAR</a>
            <button class="delete-btn">ELIMINAR</button>
        </div>
        <div class="user-row">
            <span>USUARIO 3</span>
            <a href="{% url 'modifyuser' %}" class="modify-btn">MODIFICAR</a>
            <button class="delete-btn">ELIMINAR</button>
        </div>
        
        <a href="{% url 'createUser' %}" class="create-btn">CREAR</a>
    </div>
</body>
</html>
