{%extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}

{%block content%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Producto</title>
    <link rel="stylesheet" href="{% static 'css/Sproduct.css' %}">
</head>
<body>
    <div class="container">
        
        <h1>Modificar Producto</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Guardar Cambios</button>
            <a class="btn btn-danger" style="margin-left: 10px;" href="{%url 'gestion_productos'%}">Volver atras</a>
            
        </form>
    </div>
</body>
</html>
{%endblock%}