{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Stask.css' %}">
    <title>Detalle de Usuarios</title>
</head>
<body>
    <div class="back-container">
        <a href="{% url 'gestion_usuario' %}" class="back-btn"><i class="fas fa-arrow-left"></i> Volver</a>
    </div>
    <div class="container">
        <h1>Detalle de Usuarios</h1>
        <table>
            <thead>
                <tr>
                    <th><input type="text" value="Nombre" class="table-header-input" readonly></th>
                    <th><input type="text" value="Apellido" class="table-header-input" readonly></th>
                    <th><input type="text" value="RUT" class="table-header-input" readonly></th>
                    <th><input type="text" value="Correo" class="table-header-input" readonly></th>
                </tr>
            </thead>
            <tbody id="userTableBody">
                <!-- Aquí se agregarán los usuarios creados -->
            </tbody>
        </table>
    </div>
</body>
</html>
