/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #4a4a4a;
    margin-bottom: 20px;
}

.back-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.back-btn {
    color: #333;
    text-decoration: none;
    font-size: 20px;
}

.back-btn i {
    margin-right: 5px;
    font-size: 24px; /* Tamaño de icono más grande */
}

.user-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    font-size: 18px;
}

.user-row:last-child {
    border-bottom: none;
}

.user-row span {
    color: #4a4a4a;
    font-weight: 600;
}

/* Botones de acción */
a.modify-btn, a.deta-btn, a.delete-btn, .create-btn {
    color: #333;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding: 8px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
}

.modify-btn i, .deta-btn i, .delete-btn i, .create-btn i {
    font-size: 24px; /* Iconos más grandes */
}

.create-btn {
    margin-top: 20px;
    font-size: 20px;
    padding: 12px;
    display: inline-block;
    color: #333;
}

.create-btn i, .back-btn i, .modify-btn i, .deta-btn i, .delete-btn i {
    margin-right: 5px;
}
