* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
/* Estilo para el botón "Volver" */
.back-container {
    position: fixed;
    top: 20px;
    left: 20px;
}

.back-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.back-btn {
    color: #333;
    text-decoration: none;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
}

.back-btn i {
    margin-right: 5px;
    font-size: 24px; 
}



.container {
    background-color: #fff;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    padding: 25px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    color: #555;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}


button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #2980b9;
}


input:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}


th, td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}


.table-header-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: #333;
    pointer-events: none; 
}


th {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 150px; 
}
