{%extends 'base.html'%}
{%load crispy_forms_tags%}
{%load static%}
{%block content%}
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_nombreTarea" class="form-label">Nombre de la Tarea:</label>
        {{ form.nombreTarea }}
    </div>
    <div class="mb-3">
        <label for="id_descripcion" class="form-label">Descripción:</label>
        {{ form.descripcion }}
    </div>
    <div class="mb-3">
        <label for="id_fechaTermino" class="form-label">Fecha Término:</label>
        {{ form.fechaTermino }}
    </div>
    <div class="mb-3">
        <label for="id_horasDedicadas" class="form-label">Horas Dedicadas:</label>
        {{ form.horasDedicadas }}
    </div>
    <div class="mb-3">
        <label for="id_usuario" class="form-label">Usuario:</label>
        {{ form.usuario }}
    </div>
    <div class="form-check mb-3">
        {{ form.terminado }}
        <label for="id_terminado" class="form-check-label">¿Tarea Completada?</label>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

{%endblock%}